# Workflow konfiguration (Metadaten)
name: Hello World
description: Das ist nur ein Hello World Beispiel

# Events
on: push

# Jobs
jobs:
    say-hello:
        name: Begrüße Teilnehmer
        runs-on: ubuntu-latest
        
        steps:
            - name: Verzeichnis anzeigen
              run: pwd && ls -al

            - name: Daten checkout
              uses: actions/checkout@v4

            - name: Verzeichnis anzeigen
              run: pwd && ls -al

            - name: JavaScript ausführen
              run: node hello-world.js
            